<template>
    <div class="vuetify">
        <!-- <div class="vuetify">
            <v-btn class="ma-2 ml-5" outlined color="primary" small>Outlined Button</v-btn>
        </div> -->
        <grid-layout
            :layout.sync="layout"
            :col-num="12"
            :row-height="30"
            :is-draggable="true"
            :is-resizable="true"
            :is-mirrored="false"
            :vertical-compact="true"
            :margin="[10, 10]"
            :use-css-transforms="true"
        >
            <grid-item v-for="item in layout"
                :x="item.x"
                :y="item.y"
                :w="item.w"
                :h="item.h"
                :i="item.i"
                :key="item.i"
            >
            {{item.i}}
            </grid-item>
        </grid-layout>
    </div>
</template>

<script>
import VueGridLayout from 'vue-grid-layout'

var testLayout = [{"x":0,"y":0,"w":12,"h":6,"i":"0","moved":false},{"x":2,"y":15,"w":2,"h":4,"i":"1","moved":false},{"x":4,"y":15,"w":2,"h":5,"i":"2","moved":false},{"x":6,"y":8,"w":6,"h":7,"i":"3","moved":false},{"x":8,"y":15,"w":2,"h":3,"i":"4","moved":false},{"x":10,"y":15,"w":2,"h":3,"i":"5","moved":false},{"x":0,"y":6,"w":12,"h":2,"i":"6","moved":false},{"x":2,"y":19,"w":2,"h":5,"i":"7","moved":false},{"x":4,"y":20,"w":2,"h":5,"i":"8","moved":false},{"x":6,"y":15,"w":2,"h":4,"i":"9","moved":false},{"x":8,"y":18,"w":2,"h":4,"i":"10","moved":false},{"x":10,"y":20,"w":2,"h":4,"i":"11","moved":false},{"x":0,"y":15,"w":2,"h":5,"i":"12","moved":false},{"x":2,"y":26,"w":2,"h":5,"i":"13","moved":false},{"x":4,"y":25,"w":2,"h":4,"i":"14","moved":false},{"x":6,"y":19,"w":2,"h":4,"i":"15","moved":false},{"x":8,"y":22,"w":2,"h":5,"i":"16","moved":false},{"x":10,"y":18,"w":2,"h":2,"i":"17","moved":false},{"x":0,"y":8,"w":6,"h":7,"i":"18","moved":false},{"x":2,"y":24,"w":2,"h":2,"i":"19","moved":false}]


export default {
    name: "Develop",
    components: {
        GridLayout: VueGridLayout.GridLayout,
        GridItem: VueGridLayout.GridItem
    },
    data () {
        return {
            layout: testLayout,
        }
    }
}
</script>

<style lang="scss" scoped>
.vue-grid-item:not(.vue-grid-placeholder) {
    background: #fff;
    border: thin solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.vue-grid-item.vue-grid-placeholder{
    background:blue;opacity:.2 !important;
}
</style>